<div class="layout-container">
    <div class="post-header">
        <div class="post-header-title">
            제목 1
        </div>
        <div class="post-header-meta">
            <div class="post-header-meta-left">
                <div class="post-header-meta-profile"></div>
                <div class="post-header-meta-writer">더미 작성자 1</div>
                <div class="post-header-meta-time">2021-01-01 00:00:00</div>
            </div>
            <div class="post-header-meta-right">
                <div class="post-header-meta-buttons">
                    <button class="update-button post-update-button" onclick="location.href='./update-post.html'">수정</button>
                    <button class="delete-button post-delete-button">삭제</button>
                </div>
            </div>
        </div>
    </div>
    <div class="post-body">
        <img class="post-body-image" src="./images/user-icon-ex.png"></img>
        <div class="post-body-main">
            무엇을 얘기할까요? 아무말이라면, 삶은 항상 놀라운 모험이라고 생각합니다. 우리는 매일 새로운 경험을 하고 배우며 성장합니다. 때로는 어려움과 도전이 있지만, 그것들이 우리를 더 강하고 지혜롭게 만듭니다. 또한 우리는 주변의 사람들과 연결되며 사랑과 지지를 받습니다. 그래 서 우리의 삶은 소중하고 의미가 있습니다.
            자연도 아름다운 이야기입니다. 우리 주변의 자연은 끝없는 아름다움과 신비로움을 담고 있습 니다. 산, 바다, 숲, 하늘 등 모든 것이 우리를 놀라게 만들고 감동시킵니다. 자연은 우리의 생명 과 안정을 지키며 우리에게 힘을 주는 곳입니다.
            마지막으로, 지식을 향한 탐구는 항상 흥미로운 여정입니다. 우리는 끝없는 지식의 바다에서 배 우고 발견할 수 있으며, 이것이 우리를 더 깊이 이해하고 세상을 더 넓게 보게 해줍니다.
            그런 의미에서, 삶은 놀라움과 경이로움으로 가득 차 있습니다. 새로운 경험을 즐기고 항상 앞 으로 나아가는 것이 중요하다고 생각합니다.
        </div>
        <div class="post-meta">
            <button class="post-meta-likes-disable">
                <div class="post-meta-likes-number">123</div>
                <div class="post-meta-likes-description">좋아요수</div>
            </button>
            <button class="post-meta-visits">
                <div class="post-meta-visits-number">123</div>
                <div class="post-meta-visits-description">조회수</div>
            </button>
            <button class="post-meta-comments">
                <div class="post-meta-comments-number">123</div>
                <div class="post-meta-visits-description">댓글</div>
            </button>
        </div>
    </div>
    <form class="post-comment-form">
        <textarea placeholder="댓글을 남겨주세요!" class="post-comment-form-textarea"></textarea>
        <div class="post-comment-form-button-container">
            <input type="submit" value="댓글 등록" class="post-comment-form-button button-disable">
        </div>
    </form>
    <div class="post-comments">
        <div class="post-comment">
            <div class="post-comment-left">
                <div class="post-comment-meta">
                    <div class="post-comment-meta-profile"></div>
                    <div class="post-comment-meta-writer">더미 작성자 1</div>
                    <div class="post-comment-meta-time">2021-01-01 00:00:00</div>
                </div>
                <div class="post-comment-main">댓글 내용</div>
            </div>
            <div class="post-comment-right">
                <div class="post-comment-right-buttons">
                    <button class="post-comment-right-update-button">수정</button>
                    <button class="post-comment-right-delete-button">삭제</button>
                </div>
            </div>
        </div>

        <div class="post-comment">
            <div class="post-comment-left">
                <div class="post-comment-meta">
                    <div class="post-comment-meta-profile"></div>
                    <div class="post-comment-meta-writer">더미 작성자 1</div>
                    <div class="post-comment-meta-time">2021-01-01 00:00:00</div>
                </div>
                <div class="post-comment-main">댓글 내용</div>
            </div>
            <div class="post-comment-right">
                <div class="post-comment-right-buttons">
                    <button class="post-comment-right-update-button">수정</button>
                    <button class="post-comment-right-delete-button">삭제</button>
                </div>
            </div>
        </div>

        <div class="post-comment">
            <div class="post-comment-left">
                <div class="post-comment-meta">
                    <div class="post-comment-meta-profile"></div>
                    <div class="post-comment-meta-writer">더미 작성자 1</div>
                    <div class="post-comment-meta-time">2021-01-01 00:00:00</div>
                </div>
                <div class="post-comment-main">댓글 내용</div>
            </div>
            <div class="post-comment-right">
                <div class="post-comment-right-buttons">
                    <button class="post-comment-right-update-button">수정</button>
                    <button class="post-comment-right-delete-button">삭제</button>
                </div>
            </div>
        </div>

        <div class="post-comment">
            <div class="post-comment-left">
                <div class="post-comment-meta">
                    <div class="post-comment-meta-profile"></div>
                    <div class="post-comment-meta-writer">더미 작성자 1</div>
                    <div class="post-comment-meta-time">2021-01-01 00:00:00</div>
                </div>
                <div class="post-comment-main">댓글 내용</div>
            </div>
            <div class="post-comment-right">
                <div class="post-comment-right-buttons">
                    <button class="post-comment-right-update-button">수정</button>
                    <button class="post-comment-right-delete-button">삭제</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal post-modal">
    <div class="modal_popup post-modal_popup">
        <div class="popup-title-container post-popup-tile-container">
            <div class="popup-title post-popup-title">게시글을 삭제하시겠습니까?</div>
        </div>
        <div class="popup-description-container post-popup-description-container">
            <div>
                삭제한 내용은 복구 할 수 없습니다.
            </div>
        </div>
        <div class="popup-buttons-container post-popup-buttons-container">
            <div class="drop-popup-buttons post-drop-popup-buttons">
                <button type="button" class="close_btn post-close_btn">취소</button>
                <button type="button" class="confirm_btn post-confirm_btn">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="modal comment-modal">
    <div class="modal_popup comment-modal_popup">
        <div class="popup-title-container comment-popup-tile-container">
            <div class="popup-title comment-popup-title">댓글을 삭제하시겠습니까?</div>
        </div>
        <div class="popup-description-container comment-popup-description-container">
            <div>
                삭제한 내용은 복구 할 수 없습니다.
            </div>
        </div>
        <div class="popup-buttons-container comment-popup-buttons-container">
            <div class="drop-popup-buttons comment-drop-popup-buttons">
                <button type="button" class="close_btn comment-close_btn">취소</button>
                <button type="button" class="confirm_btn comment-confirm_btn">확인</button>
            </div>
        </div>
    </div>
</div>