<div class="layout-container">
    <div class="posts-header-container">
        <div>
            <h2 class="align-center-container posts-header-element">안녕하세요</h2>
            <h2 class="align-center-container posts-header-element">아무 말 대잔치
                <span style="font-weight: bold">&nbsp;게시판&nbsp;</span> 입니다.</h2>
        </div>
    </div>
    <div class="align-right-container">
        <a href="./add-post.html">
            <button class="button-disable post-create-button">게시글 작성</button>
        </a>
    </div>
    <div class="layout-main-container">
        <div class="post-preview" OnClick="location.href ='./post.html'" style="cursor:pointer;">
            <div class="post-preview-top">
                <div class="post-preview-title-container">
                    <div class="post-preview-title">제목 1</div>
                </div>
                <div class="post-preview-meta-container">
                    <div class="post-preview-meta">
                        <div class="post-preview-meta-element">좋아요 0</div>
                        <div class="post-preview-meta-element">댓글 0</div>
                        <div class="post-preview-meta-element">조회수 0</div>
                    </div>
                    <div class="post-preview-time">
                        2021-01-01 00:00:00
                    </div>
                </div>
            </div>
            <div class="post-preview-writer-container">
                <div class="preview-profile"></div>
                <div class="preview-writer">
                    <div class="preview-profile-image"></div>
                    <div class="align-center-container">
                        더미 작성자 1
                    </div>
                </div>
            </div>
        </div>

        <div class="post-preview" OnClick="location.href ='./post.html'" style="cursor:pointer;">
            <div class="post-preview-top">
                <div class="post-preview-title-container">
                    <div class="post-preview-title">제목 1</div>
                </div>
                <div class="post-preview-meta-container">
                    <div class="post-preview-meta">
                        <div class="post-preview-meta-element">좋아요 0</div>
                        <div class="post-preview-meta-element">댓글 0</div>
                        <div class="post-preview-meta-element">조회수 0</div>
                    </div>
                    <div class="post-preview-time">
                        2021-01-01 00:00:00
                    </div>
                </div>
            </div>
            <div class="post-preview-writer-container">
                <div class="preview-profile"></div>
                <div class="preview-writer">
                    <div class="preview-profile-image"></div>
                    <div class="align-center-container">
                        더미 작성자 1
                    </div>
                </div>
            </div>
        </div>

        <div class="post-preview" OnClick="location.href ='./post.html'" style="cursor:pointer;">
            <div class="post-preview-top">
                <div class="post-preview-title-container">
                    <div class="post-preview-title">제목 1</div>
                </div>
                <div class="post-preview-meta-container">
                    <div class="post-preview-meta">
                        <div class="post-preview-meta-element">좋아요 0</div>
                        <div class="post-preview-meta-element">댓글 0</div>
                        <div class="post-preview-meta-element">조회수 0</div>
                    </div>
                    <div class="post-preview-time">
                        2021-01-01 00:00:00
                    </div>
                </div>
            </div>
            <div class="post-preview-writer-container">
                <div class="preview-profile"></div>
                <div class="preview-writer">
                    <div class="preview-profile-image"></div>
                    <div class="align-center-container">
                        더미 작성자 1
                    </div>
                </div>
            </div>
        </div>

        <div class="post-preview" OnClick="location.href ='./post.html'" style="cursor:pointer;">
            <div class="post-preview-top">
                <div class="post-preview-title-container">
                    <div class="post-preview-title">제목 1</div>
                </div>
                <div class="post-preview-meta-container">
                    <div class="post-preview-meta">
                        <div class="post-preview-meta-element">좋아요 0</div>
                        <div class="post-preview-meta-element">댓글 0</div>
                        <div class="post-preview-meta-element">조회수 0</div>
                    </div>
                    <div class="post-preview-time">
                        2021-01-01 00:00:00
                    </div>
                </div>
            </div>
            <div class="post-preview-writer-container">
                <div class="preview-profile"></div>
                <div class="preview-writer">
                    <div class="preview-profile-image"></div>
                    <div class="align-center-container">
                        더미 작성자 1
                    </div>
                </div>
            </div>
        </div>

        <div class="post-preview" OnClick="location.href ='./post.html'" style="cursor:pointer;">
            <div class="post-preview-top">
                <div class="post-preview-title-container">
                    <div class="post-preview-title">제목 1</div>
                </div>
                <div class="post-preview-meta-container">
                    <div class="post-preview-meta">
                        <div class="post-preview-meta-element">좋아요 0</div>
                        <div class="post-preview-meta-element">댓글 0</div>
                        <div class="post-preview-meta-element">조회수 0</div>
                    </div>
                    <div class="post-preview-time">
                        2021-01-01 00:00:00
                    </div>
                </div>
            </div>
            <div class="post-preview-writer-container">
                <div class="preview-profile"></div>
                <div class="preview-writer">
                    <div class="preview-profile-image"></div>
                    <div class="align-center-container">
                        더미 작성자 1
                    </div>
                </div>
            </div>
        </div>

        <div class="post-preview" OnClick="location.href ='./post.html'" style="cursor:pointer;">
            <div class="post-preview-top">
                <div class="post-preview-title-container">
                    <div class="post-preview-title">제목 1</div>
                </div>
                <div class="post-preview-meta-container">
                    <div class="post-preview-meta">
                        <div class="post-preview-meta-element">좋아요 0</div>
                        <div class="post-preview-meta-element">댓글 0</div>
                        <div class="post-preview-meta-element">조회수 0</div>
                    </div>
                    <div class="post-preview-time">
                        2021-01-01 00:00:00
                    </div>
                </div>
            </div>
            <div class="post-preview-writer-container">
                <div class="preview-profile"></div>
                <div class="preview-writer">
                    <div class="preview-profile-image"></div>
                    <div class="align-center-container">
                        더미 작성자 1
                    </div>
                </div>
            </div>
        </div>

        <div class="post-preview" OnClick="location.href ='./post.html'" style="cursor:pointer;">
            <div class="post-preview-top">
                <div class="post-preview-title-container">
                    <div class="post-preview-title">제목 1</div>
                </div>
                <div class="post-preview-meta-container">
                    <div class="post-preview-meta">
                        <div class="post-preview-meta-element">좋아요 0</div>
                        <div class="post-preview-meta-element">댓글 0</div>
                        <div class="post-preview-meta-element">조회수 0</div>
                    </div>
                    <div class="post-preview-time">
                        2021-01-01 00:00:00
                    </div>
                </div>
            </div>
            <div class="post-preview-writer-container">
                <div class="preview-profile"></div>
                <div class="preview-writer">
                    <div class="preview-profile-image"></div>
                    <div class="align-center-container">
                        더미 작성자 1
                    </div>
                </div>
            </div>
        </div>

        <div class="post-preview" OnClick="location.href ='./post.html'" style="cursor:pointer;">
            <div class="post-preview-top">
                <div class="post-preview-title-container">
                    <div class="post-preview-title">제목 1</div>
                </div>
                <div class="post-preview-meta-container">
                    <div class="post-preview-meta">
                        <div class="post-preview-meta-element">좋아요 0</div>
                        <div class="post-preview-meta-element">댓글 0</div>
                        <div class="post-preview-meta-element">조회수 0</div>
                    </div>
                    <div class="post-preview-time">
                        2021-01-01 00:00:00
                    </div>
                </div>
            </div>
            <div class="post-preview-writer-container">
                <div class="preview-profile"></div>
                <div class="preview-writer">
                    <div class="preview-profile-image"></div>
                    <div class="align-center-container">
                        더미 작성자 1
                    </div>
                </div>
            </div>
        </div>

        <div class="post-preview" OnClick="location.href ='./post.html'" style="cursor:pointer;">
            <div class="post-preview-top">
                <div class="post-preview-title-container">
                    <div class="post-preview-title">제목 1</div>
                </div>
                <div class="post-preview-meta-container">
                    <div class="post-preview-meta">
                        <div class="post-preview-meta-element">좋아요 0</div>
                        <div class="post-preview-meta-element">댓글 0</div>
                        <div class="post-preview-meta-element">조회수 0</div>
                    </div>
                    <div class="post-preview-time">
                        2021-01-01 00:00:00
                    </div>
                </div>
            </div>
            <div class="post-preview-writer-container">
                <div class="preview-profile"></div>
                <div class="preview-writer">
                    <div class="preview-profile-image"></div>
                    <div class="align-center-container">
                        더미 작성자 1
                    </div>
                </div>
            </div>
        </div>

        <div class="post-preview" OnClick="location.href ='./post.html'" style="cursor:pointer;">
            <div class="post-preview-top">
                <div class="post-preview-title-container">
                    <div class="post-preview-title">제목 1</div>
                </div>
                <div class="post-preview-meta-container">
                    <div class="post-preview-meta">
                        <div class="post-preview-meta-element">좋아요 0</div>
                        <div class="post-preview-meta-element">댓글 0</div>
                        <div class="post-preview-meta-element">조회수 0</div>
                    </div>
                    <div class="post-preview-time">
                        2021-01-01 00:00:00
                    </div>
                </div>
            </div>
            <div class="post-preview-writer-container">
                <div class="preview-profile"></div>
                <div class="preview-writer">
                    <div class="preview-profile-image"></div>
                    <div class="align-center-container">
                        더미 작성자 1
                    </div>
                </div>
            </div>
        </div>

        <div class="post-preview" OnClick="location.href ='./post.html'" style="cursor:pointer;">
            <div class="post-preview-top">
                <div class="post-preview-title-container">
                    <div class="post-preview-title">제목 1</div>
                </div>
                <div class="post-preview-meta-container">
                    <div class="post-preview-meta">
                        <div class="post-preview-meta-element">좋아요 0</div>
                        <div class="post-preview-meta-element">댓글 0</div>
                        <div class="post-preview-meta-element">조회수 0</div>
                    </div>
                    <div class="post-preview-time">
                        2021-01-01 00:00:00
                    </div>
                </div>
            </div>
            <div class="post-preview-writer-container">
                <div class="preview-profile"></div>
                <div class="preview-writer">
                    <div class="preview-profile-image"></div>
                    <div class="align-center-container">
                        더미 작성자 1
                    </div>
                </div>
            </div>
        </div>

        <div class="post-preview" OnClick="location.href ='./post.html'" style="cursor:pointer;">
            <div class="post-preview-top">
                <div class="post-preview-title-container">
                    <div class="post-preview-title">제목 1</div>
                </div>
                <div class="post-preview-meta-container">
                    <div class="post-preview-meta">
                        <div class="post-preview-meta-element">좋아요 0</div>
                        <div class="post-preview-meta-element">댓글 0</div>
                        <div class="post-preview-meta-element">조회수 0</div>
                    </div>
                    <div class="post-preview-time">
                        2021-01-01 00:00:00
                    </div>
                </div>
            </div>
            <div class="post-preview-writer-container">
                <div class="preview-profile"></div>
                <div class="preview-writer">
                    <div class="preview-profile-image"></div>
                    <div class="align-center-container">
                        더미 작성자 1
                    </div>
                </div>
            </div>
        </div>

        <div class="post-preview" OnClick="location.href ='./post.html'" style="cursor:pointer;">
            <div class="post-preview-top">
                <div class="post-preview-title-container">
                    <div class="post-preview-title">제목 1</div>
                </div>
                <div class="post-preview-meta-container">
                    <div class="post-preview-meta">
                        <div class="post-preview-meta-element">좋아요 0</div>
                        <div class="post-preview-meta-element">댓글 0</div>
                        <div class="post-preview-meta-element">조회수 0</div>
                    </div>
                    <div class="post-preview-time">
                        2021-01-01 00:00:00
                    </div>
                </div>
            </div>
            <div class="post-preview-writer-container">
                <div class="preview-profile"></div>
                <div class="preview-writer">
                    <div class="preview-profile-image"></div>
                    <div class="align-center-container">
                        더미 작성자 1
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>