.login-container {
    display: flex;
    flex-direction: column;
}

.login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
}

.login-form-container {
    display: flex;
    flex-direction: column;
}

.login-sign-up-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.email-title-container {
    padding: 10px 0px 0px 0px;
}

.email-form-container {
    padding: 10px 0px 10px 0px;
}

.password-title-container {
    padding: 10px 0px 0px 0px;
}

.password-form-container {
    padding: 10px 0px 10px 0px;
}

.login-button-container {
    padding: 10px 0px 10px 0px;
}

.email-form {
    height: 30px;
    width: 100%;
}

.password-form {
    height: 30px;
    width: 100%;
}

.login-button-disable {
    width: 100%;
    background-color: #ACA0EB;
    height: 30px;
    border-radius: 3px;
    border: none;
    color: white;
}

.login-button-enable {
    width: 100%;
    background-color: #7F6AEE;
    height: 30px;
    border-radius: 3px;
    border: none;
    color: white;
}

.email-validation-container {
    height: 15px;
}

.password-validation-container {
    height: 15px;
}