.post-header {
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #D9D9D9;
}

.post-header-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-header-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 11px;
}

.post-header-meta-left {
    display: flex;
    flex-direction: row;
}

.post-header-meta-profile {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #D9D9D9;
    margin-right: 10px;
}

.post-header-meta-writer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 18px;
}

.post-header-meta-time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-header-meta-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-button {
    margin: 5px 5px 5px 5px;
    padding: 4px 8px 4px 8px;
    background-color: #F4F5F7;
    border: 1px solid #7F6AEE;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
}

.delete-button{
    margin: 5px 5px 5px 5px;
    padding: 4px 8px 4px 8px;
    background-color: #F4F5F7;
    border-color: #7F6AEE;
    border: 1px solid #7F6AEE;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
}

.post-body {
    padding: 20px 20px 20px 20px;
}

.post-body-image {
    width: 100%;
}

.post-body-main {
    padding: 10px 0px 10px 0px;
    font-size: 12px;
    white-space: pre-line;
}

.post-meta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.post-meta-likes-disable {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 60px;
    background-color: #D9D9D9;
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.post-meta-likes-enable {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 60px;
    background-color: #ACA0EB;
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.post-meta-visits {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 60px;
    background-color: #D9D9D9;
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
    justify-content: center;
    align-items: center;
    border: none;
}

.post-meta-comments {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 60px;
    background-color: #D9D9D9;
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
    justify-content: center;
    align-items: center;
    border: none;
}

.post-meta-likes-number {
    font-weight: bold;
    margin-bottom: 5px;
}

.post-meta-likes-description {
    font-size: 13px;
}

.post-meta-visits-number {
    font-weight: bold;
    margin-bottom: 5px;
}

.post-meta-visits-description {
    font-size: 13px;
}

.post-meta-comments-number {
    font-weight: bold;
    margin-bottom: 5px;
}

.post-meta-comments-description {
    font-size: 13px;
}

.post-body {
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 20px;
}

.post-comment-form-textarea {
    width: 100%;
    height: 90px;
    padding: 12px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    font-size: 11px;
    line-height: 1.5;
    resize: none;
    outline: none;
}

.post-comment-form-button-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.post-comment-form-button {
    margin-top: 5px;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
.post-comments {
    display: flex;
    flex-direction: column;
}

.post-comment {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;
}

.post-comment-meta {
    display: flex;
    flex-direction: row;
}

.post-comment-meta-profile {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #D9D9D9;
    margin-right: 10px;
}

.post-comment-meta-writer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 2px;
}

.post-comment-meta-time {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-right: 10px;
    margin-top: 2px;
}

.post-comment-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-comment-right-update-button {
    margin: 5px 3px 5px 3px;
    padding: 4px 8px 4px 8px;
    background-color: #F4F5F7;
    border: 1px solid #7F6AEE;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
}

.post-comment-main {
    font-size: 12px;
    margin-left: 30px;
    margin-top: 5px;
}

.post-comment-right-delete-button{
    margin: 5px 3px 5px 3px;
    padding: 4px 8px 4px 8px;
    background-color: #F4F5F7;
    border-color: #7F6AEE;
    border: 1px solid #7F6AEE;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
}
